<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title class="pageTitle">{{ site.page_title }} - {{ site.app_description }}</title>
	<meta name="description" content="{{ site.app_description }}">

	<link rel="shortcut icon" href="{{ site.app_icon | relative_url }}">

	<!-- Smart App Banner -->
	{% if site.enable_smart_app_banner %}
		<meta name="apple-itunes-app" content="app-id={{ site.ios_app_id }}">
	{% endif %}

	<script type="application/ld+json">
		{
			"@type" : "WebSite",
			"name" : "{{ site.page_title }}",
			"url" : "{{ site.domain }}"
			"mainEntityOfPage": {
				"@type": "WebPage",
				"@id": "{{ site.domain }}"
			},
			"publisher": {
				"@type": "Organization",
				"name": "{{ site.page_title }}",
				"url": "{{ site.domain }}"
			},
			{% if page.date %}
			  "datePublished": "{{ page.date | date: "%Y-%m-%dT%H:%M:%SZ" }}",
  			"dateModified": "{{ page.date | date: "%Y-%m-%dT%H:%M:%SZ" }}",
			{% endif %}
			{% if page.title %}
			  "headline": "{{ page.title }}",
			{% endif %}
			{% if page.description %}
			  "description": "{{ page.description }}",
			{% endif %}
			{% if page.author %}
				"author": {
					"@type": "Person",
					"name": "{{ page.author }}"
				},
			{% endif %}
			"url": "{{ page.url | absolute_url }}",
			"@context" : "https://schema.org"
		}
	</script>
	
	<link rel="canonical" href="{{ page.url | absolute_url }}" />
	{% if page.description %}
	<meta name="description" content="{{ page.description }}">
	{% endif %}
	{% if page.author %}
	<meta name="author" content="{{ page.author }}">
	{% endif %}

	{% if page.title %}
	<meta property="og:title" content="{{ page.title }}">
	{% endif %}
	{% if page.description %}
	<meta property="og:description" content="{{ page.description }}">
	{% endif %}
	<meta property="og:type" content="article">
	<meta property="og:url" content="{{ page.url | absolute_url }}">
	{% if page.image %}
	<meta property="og:image" content="{{ site.domain }}{{ page.image }}">
	{% endif %}

	<meta property="article:section" content="posts">
	{% if page.date %}
	<meta property="article:published_time" content="{{ page.date | date: '%Y-%m-%dT%H:%M:%S+00:00' }}">
	<meta property="article:modified_time" content="{{ page.date | date: '%Y-%m-%dT%H:%M:%S+00:00' }}">
	{% endif %}

	<meta name="twitter:card" content="summary_large_image">
	{% if page.image %}
	<meta name="twitter:image" content="{{ site.domain }}{{ page.image }}">
	{% endif %}
	{% if page.title %}
	<meta name="twitter:title" content="{{ page.title }}">
	{% endif %}
	{% if page.description %}
	<meta name="twitter:description" content="{{ page.description }}">
	{% endif %}

	{% if page.title %}
	<meta itemprop="name" content="{{ page.title }}">
	{% endif %}
	{% if page.description %}
	<meta itemprop="description" content="{{ page.description }}">
	{% endif %}
	{% if page.date %}
	<meta itemprop="datePublished" content="{{ page.date | date: '%Y-%m-%dT%H:%M:%S+00:00' }}">
	<meta itemprop="dateModified" content="{{ page.date | date: '%Y-%m-%dT%H:%M:%S+00:00' }}">
	{% endif %}
	{% if page.image %}
	<meta itemprop="image" content="{{ site.domain }}{{ page.image }}">
	{% endif %}

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	<link rel="stylesheet" href="{{ '/main.css' | relative_url }}">

	{% if site.matomo_site_url %}
		<!-- Matomo -->
		<script>
			var _paq = window._paq = window._paq || [];
			/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
				var u="{{ site.matomo_site_url }}";
				_paq.push(['setTrackerUrl', u+'matomo.php']);
				_paq.push(['setSiteId', '{{ site.matomo_site_id }}']);
				var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
				g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
			})();
		</script>
		<noscript><p><img src="{{ site.matomo_site_url }}/matomo.php?idsite={{ site.matomo_site_id }}&amp;rec=1" style="border:0;" alt="" /></p></noscript>
		<!-- End Matomo Code -->
	{% endif %}
</head>